<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Yeni Görev Ekle</title>
</head>
<body>
    <h1>Yeni Görev Ekle</h1>
    <h2>To Do Ekle</h2>
    <form method="post">
        {% csrf_token %}
        
        {{ form.as_p }}

        <button class="todo-button" type="submit">Görevi Ekle</button>
    </form>
    <div class="container-add">
        <a class="home-button" href="{% url 'todo_list' %}">Ana Sayfa &nbsp; <i class="fa-solid fa-house"></i></a>
    </div>
</body>
</html>
